.header {
    max-width: 1184px;
    margin: 0 auto;
    padding: 28px 48px 56px 48px;
    background-color: #2A2C2F;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .header {
        width: 288px;
        height: 42px;
        padding: 16px 16px 48px 16px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .header {
        padding: 28px 24px 48px 24px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1279px) {
    .header {
        padding-bottom: 48px;
    }
}