.place__paragraphs {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 163%;
    color: #FFFFFF;
}

@media screen and (max-width: 767px){
   .place__paragraphs {
      padding: 0 16px;
    }
}