.place__paragraph {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 29px;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        padding: 0 16px;
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }
}