.footer__copyright {
    max-width: 186px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        margin: 48px 0px 24px 0px;
    }
}