.intro__text {
    max-width: 690px;
    margin: 0 0 34px 0;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    color: #FFFFFF;
}


/*не нашла, что должно изменяться на ширине 320. 
Размер шрифта и высота во всех предложенных разрешениях одинаковая
font-size: 16px;
line-height: 26px */