.cover {
    position: relative;
    max-width: 1184px;
    max-height: 740px;
    margin: 0 auto;
}

@media screen and (max-width: 374px) {
    .cover {
        width: 100%;
        height: 200px;
    }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
    .cover {
        width: 100%;
        height: 480px;
        margin-top: 66px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .cover {
        width: 100%;
        height: 640px;
        margin-top: 90px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1279px) {
    .cover {
        width: 100%;
        height: 740px;
        margin-top: 92px;
    }
}